.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &-topText {
    color: #1D9982;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}

.Buttons {
  display: flex;
  margin-bottom: 35px;
  &-btn1 {
    width: 150px;
    height: 50px;
    color: #000E04;
    background: #1d9982;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &-btn2 {
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 800;
    border: none;
    outline: none;
    color: #150810;
    background: #FD543F;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', 'sans-serif';
  }
}

.blockDesign {
  margin-top: 0;
  width: 350px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greenDesign {
  background: #1d9982;
  border: 1px solid #115841;
  &-title {
    color: #000E04;
    text-transform: uppercase;
  }
  &-btn {
    width: 90%;
    height: 50px;
    background: #008080;
    border: none;
    outline: none;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 28px;
    text-transform: uppercase;
  }
  &_developerBlock {
    background: #000E04;
    width: 90%;
    min-height: 100px;
    margin-top: 0;
    & * {
      font-size: 18px;
      color: #249982;
    }
    &-name {
      font-size: 26px;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 20px;
      letter-spacing: 2.5px;
    }
    &-age {
      margin-top: 0;
      margin-bottom: 10px;
    }
    &-company {
      margin-top: 0;
      margin-bottom: 10px;
    }
    &-occupation {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  &_goodDevelopers {
    display: flex;
    margin-bottom: 5px;
    &-name {
      cursor: pointer;
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}

.redDesign {
  background: #FB5245;
  border-radius: 15px;
  font-family: 'Montserrat', 'sans-serif';
  border: 1px solid #A43838;
  &-title {
    color: #150810;
    font-family: 'Montserrat', 'sans-serif';
  }
  &_buttons {
    margin-bottom: 0;
  }
  &-btn {
    width: 140px;
    height: 50px;
    font-family: 'Montserrat', 'sans-serif';
    background: #D40000;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  &_developerBlock {
    background: #150810;
    width: 300px;
    min-height: 100px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    & * {
      color: #FB5245;
      font-family: 'Montserrat', 'sans-serif';
    }
    &-name {
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 20px;
      letter-spacing: 1.5px;
    }
    &-age {
      margin-top: 0;
      margin-bottom: 10px;
    }
    &-company {
      margin-top: 0;
      margin-bottom: 10px;
    }
    &-occupation {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  &_goodDevelopers {
    display: flex;
    &-name {
      font-family: 'Montserrat', 'sans-serif';
      font-size: 14px;
      margin-left: 4px;
      margin-right: 4px;
      cursor: pointer;
    }
  }
}