@import 'scss_utils/vars.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  background: #000E04;
}

* {
  font-family: 'Oswald', 'sans-serif';
  box-sizing: border-box;
}

.App {
  text-align: center;
  &-title {
    color: $defaultColor;
    font-size: 48px;
    letter-spacing: 1.5px;
    & span {
      color: #1D9982;
      text-transform: uppercase;
    }
  }
}
